html, body {
    max-width: 800px;
    max-width: 800px;
}

#tabs-list {
    display: flex;
    flex-wrap: wrap; 
    padding: 5px;
}

.switch-tabs-div {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    width: calc(100% / 4); 
}

.switch-tabs-div:nth-child(n+5) {
    border-top: 1px solid darkgray;
}

.switch-tabs-div:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.switch-tabs {
    padding-left: 5px;
    width: calc(100% - 25px); 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.switch-tabs-active {
    color: red;
}

.tab-favicon {
    width: 25px;
    height: 25px;
}